*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav a{
    color: inherit;        /*移除超連結顏色*/
    display: block;        /*讓a填滿li*/
    font-size: 1.2rem;
    padding: 15px;
    text-decoration: none; /*移除超連結底線*/
}
nav > ul{
    background-color: rgb(198, 142, 142);
    list-style: none;      /*移除項目符號*/
    margin: 0;
    padding: 0;
}
nav a:hover{
    background-color: rgb(159, 90, 90);
    color: white;
}
.flex-nav {
    display: flex;
    justify-content: space-evenly
}
.o{
    background-image:url(background.jpg) ;
    z-index: -1;
    height: 1000px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    background-position: center;
}

@import url("reset.css");
.text{
    font-family: 'Permanent Marker', cursive;
    font-size: 130px;
    text-align: left;
    left: 200px;
    font-weight: bold;
    line-height: 200px;
    text-transform: uppercase; /*大寫*/
    position: relative;
    } 
.effect01{
    color: #90243E;
    text-shadow:
        0px 0px 0 #B63A51,
        1px -1px 0 #B63A51,
        2px -1px 0 #B63A51,
        3px -3px 0 #B63A51,
        4px -4px 0 #B63A51,
        5px -5px 0 #B63A51,
        6px -6px 0 #B63A51,
        7px -7px 0 #B63A51,
        8px -8px 0 #B63A51,
        9px -9px 0 #db7084,
        10px -10px 0 #db7084,
        11px -11px 0 #db7084,
        12px -12px 0 #db7084,
        13px -13px 12px rgba(0, 0, 0, 0.55),
        13px -13px 1px rgba(0, 0, 0, 0.5);
}
@import url("reset.css");
.y{
    color: #767474;
    position: relative;
    left: 600px;
    font-family: ‘cwTeXYen’, sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.m{
    margin-top: 500px;
    padding: 15px;
    background-color:#E8DCCA;
    }
.f{
    padding: 1em;
    margin: 2em 0;
    color: #474747;
    background: #F2E6E6;/*背景色*/
    border-left: solid 10px #EBD6D6;/*左線*/
    }
.h{
    padding: 2px;
    margin: 2em 0;
    background: #F2E6E6;
    border-top: solid 5px #EBD6D6;
    border-bottom: solid 5px #EBD6D6;
}